<h2><%= @user.name %></h2>

<span><%= @user.email %></span> <br>

<% if @user == current_user %>
  <span><%= link_to "Edit Profile", edit_user_registration_path %></span>
<% end %>

<h3>Events</h3>
<% if @user.created_events.count == 0 %>
  <span> No events created yet! </span>
<% else %>
  <ul>
    <% @user.created_events.each do |event| %>
      <li><%= render event %></li>
    <% end %>
  </ul>
<% end %>
