<div>
  <h3><%= link_to event.title, event_path(event)%></h3>
  <p>
    Created By: <%= link_to event.creator.name, event.creator %> <br>
    Location: <%= event.location %> <br>
    Time: <%= event.date %>
  </p>
</div>
